{%extends 'events/base.html'%}
{%block content%}
<br>
<center>
    <div class="card">
        <div class="card-header"><h1>{{event}}</h1></div>
        <div class="card-body">
            <p class="card-text">
                name: {{event.name}} <br>
                event_date: {{event.event_date}} <br>
                <a href="{%url 'show_venue' event.venue.id%}">venue: {{event.venue.name}}</a> <br>
                manager: {{event.manager}} <br>
                description: {{event.description}} <br>
                attendees: {{event.attendees}} <br>
            </p>
        </div>
    </div>
</center>
{%endblock%}