{%extends 'events/base.html'%}
{%block content%}
<br>
<center>
    <div class="card">
        <div class="card-header"><h1>{{venue.name}}</h1></div>
        <div class="card-body">
            <p class="card-text">
                address: {{venue.address}} <br>
                phone: {{venue.phone}} <br>
                web: {{venue.web}} <br>
                email: {{venue.email}} <br>
                owner: {{venue_owner}} <br>
            </p>
            {%if venue.image%}
            <img src="{{venue.image.url}}" style="height:500px">
            {%endif%}
        </div>
    </div>
</center>
{%endblock%}